<% include ./partial/header %>

      <main>
        <h1 class="mb-0">Hi, I'm Cheng Shi</h1>
        <div class="mb-5">
        <p class="lead mb-3">Full Stack Web Developer</p>
        <p>My name is Cheng Shi. I am a web developer. I am a friendly team contributor and I am passionate about technology. With a background in various industries, I am a good team player no matter what type of business I work with.</p>
        <p>Do you know that a business with a website is more like to succeed? I am willing to help you succeed in business. I build websites, develop web application &amp provide online/in-person training. I also provide customize service based on your needs. Please feel free to <a href="/contact">contact me</a></p>
        </div>

        <p>
          <a href="https://github.com/C-Shi" class="mr-2 mb-2">Github</a>
          <a href="https://www.facebook.com/kyle.shi.9" class="mr-2 mb-2">Facebook</a>
          <a href="https://www.linkedin.com/in/cheng-shi-01264975/" class="mr-2 mb-2">LinkedIn</a>
       </p>
       <!-- Section of Services i provide  -->
        <h2 class="mb-4 mt-5">Services</h2>
        <div class="row">
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="media custom-media  d-block">
              <div class="icon mr-3"><span class="ion-android-laptop"></span></div>
              <div class="media-body">
                <h3 class="mt-0"><a href="#">Business Website</a></h3>
                <p>A website attracts new customers, retains existing customers and provides social proof. Want to have a website for your business or as your portfolio?</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="media custom-media  d-block">
              <div class="icon mr-3"><span class="ion-cube"></span></div>
              <div class="media-body">
                <h3 class="mt-0"><a href="#">Web Application </a></h3>
                <p>Web Application is the next step to suceess. Build an adds-on to your website to make it more functionals. eg: Email forwarding, connecting to a database</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-6 mb-4">
            <div class="media custom-media  d-block">
              <div class="icon mr-3"><span class="ion-university"></span></div>
              <div class="media-body">
                <h3 class="mt-0"><a href="#">Education</a></h3>
                <p>Are you new to web development? Do you want to become a developer? I provide free online training on my <a href="#">YouTube</a></p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-6 mb-4">
            <div class="media custom-media  d-block">
              <div class="icon mr-3"><span class="ion-android-phone-portrait"></span></div>
              <div class="media-body">
                <h3 class="mt-0"><a href="#">Mobile Apps</a></h3>
                <p>Will mobile take over the world? Migrate your desktop apps to mobile today</p>
              </div>
            </div>
          </div>
          <!-- ************************************************************* -->
        </div>

      </main>
    </div>

  <% include ./partial/footer %>