<% include ./partial/header %>

      <main>
        <a href="/" class="home-button"><span class="fa fa-home fa-2x"></span></a>
        <h1 class="mb-5">Portfolio</h1>
        <p>
          <a href="https://github.com/C-Shi" class="mr-2 mb-2">Github</a>
          <a href="https://www.linkedin.com/in/cheng-shi-01264975/" class="mr-2 mb-2">LinkedIn</a>
          <a href="https://resume.creddle.io/resume/fce0m9zssl4" class="mr-2 mb-2">Resume</a>
       </p>
        <div class="mb-5">
          <ul class="portfolio-list">
            <li>
              <a href="https://github.com/C-Shi/jungle-rails">
                <img src="img/projects/jungle.png" alt="">
                <div class="text">
                  <h3>Jungle Rails</h3>
                  <span>An e-commerce website build on Ruby with Rails Framework</span>
                </div>
              </a>
            </li>
            <li>
              <a href="https://github.com/C-Shi/ChattyApp-LHL">
                <img src="img/projects/chatty.png" alt="">
                <div class="text">
                  <h3>ChattyApp</h3>
                  <span>A Real-time Multi Users chatting App based on ReactJS and WebSocket</span>
                </div>
              </a>
            </li>
            <li>
              <a href="https://github.com/C-Shi/ResourcePro">
                <img src="img/projects/resource_wall.png" alt="">
                <div class="text">
                  <h3>ResourcePro</h3>
                  <span>Pinterest-like full stack app. Sharing, rating and commenting learning resources. </span>
                </div>
              </a>
            </li>
            <li>
              <a href="https://tweeter-cs-lhl.herokuapp.com/">
                <img src="img/projects/tweeter.png" alt="">
                <div class="text">
                  <h3>Tweeter</h3>
                  <span>A tweeter clone front-end focused web app. jQuery, node, mongoDB</span>
                </div>
              </a>
            </li>

            <li>
              <a href="https://ancient-dawn-30694.herokuapp.com/">
                <img src="img/projects/mtmfootball.png" alt="">
                <div class="text">
                  <h3>Club Student Profiling System</h3>
                  <span>Helping sport clubs manage their student data and profile</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="img/projects/yelpcamp.png" alt="">
                <div class="text">
                  <h3>YelpCamp</h3>
                  <span>Creating and sharing camping info</span>
                </div>
              </a>
            </li>
          </ul>
        </div>

      </main>
    </div>

   <% include ./partial/footer %>