<% include ./partial/header %>

      <main>
        <a href="/" class="home-button"><span class="fa fa-home"></span></a>
        <h1 class="mb-5">Experience</h1>
        <div class="mb-5">
          <ul class="resume-list">
            <li>
              <h3>Freelance Web Developer</h3>
              <p class="date">June 2018 - Present</p>
              <p>Developed Web Application for several clients, including a profiles management system for a local football clubs</p>
            </li>
          </ul>
        </div>


        <h1 class="mb-5">Education</h1>
        <div class="mb-5">
          <ul class="resume-list">
            <li>
              <h3>Lighthouse Labs</h3>
              <p class="date">2018</p>
              <p>Web Delveopment BootCamp</p>
            </li>
            <li>
              <h3>University of Alberta</h3>
              <p class="date">2010 - 2014</p>
              <p>B.Sc in Nutrition and Food Science, with distinction</p>
            </li>

          </ul>
        </div>

      </main>
    </div>

<% include ./partial/footer %>