
.slideBackground {
    background: rgb(255,255,255);
}

.slideshow {
    /*style the entire ul position to occupy the entire body with no margin */
    position: absolute; /*fixed : position relative to the window*/
    top:0;
    left:0;
    margin: 0;
    padding:0;
    z-index:0;
    /*style the size of entire ul to make it cover the screen*/
    width: 100%;
    height: 100%;
    /*we don't want the bullet point*/
    list-style: none;
}
/*in order to make li cover the entire browzer screen, its parent element ul has to be styled first*/

.slideshow li {
    position: absolute; /*absolute : position to its first non-static parent*/
    top: 0;
    left: 0;
    margin:0;
    padding:0;
    /*size of li (background picture)*/
    height: 100%;
    width: 100%;
    z-index: 0;
    /*set the background image to make it cover the entire browzer*/
    background-position: 50% 50%; /*center the image*/
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0; /*want the background image to start fading in*/
    animation: imageAnimation 20s linear infinite;
    /*animation property contains: name, duration, time-function, iteration-count, dirction etc*/
}

/*set the image of each animation element (li)*/
/*we need to set animation delay otherwise all 5 image will start animating at the same time*/
.slideshow li:nth-child(1){
    background-image:url("../img/bp-01.jpg");
}

.slideshow li:nth-child(2){
    background-image:url("../img/bp-02.jpg");
    animation-delay: 10s;
}

.slideshow li:nth-child(3){
    background-image:url("../img/bp-03.jpg");
    animation-delay: 20s;
}


@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    16.6% {
        opacity: 1;
        animation-timing-function: ease-in-out;
    }

    33.3% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}


.portfolio {
    width: 33%;
    height: auto;
    border-radius: 100%
}

.introduction {
    position: absolute;
    top: 33%;
    left:33%;
    z-index: 1;
}